.modal-header{
    background-color: #1B4B8D;
}
.btn_modal{
    background-color: #40ba7b;
    color: #fff;
    width: 300px;
    margin:20px 0px 0px;
    border-radius: 20px;
}
.btn_modal:hover{
    color: #fff;
}
.aaa{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.modal-title{
    font-size: 36px;
    color: #fff000;
    margin-bottom: 10px;
}
.subTitle{
    color: #46CC86;
    text-align: center;
    font-size: 14px;
}
.close{
    position: absolute;
    right: 20px;
}
.modal{
    top:25%
}
#Modal-fail,.Modal-sus{
    top: 40%;
}