*{
    padding: 0;
    margin: 0;
    position: relative;
    background-size: cover;
}
.game-container{
    width:930px;

}
.game{
    width: 930px;
    height: 550px;
}
.home{
    width: 222px;
    height: 113px;
    background-image: url(../images/games/home_button.png);
    cursor: pointer;
    margin-top: 20px;
}

.scene{
    width: 692px;
    height: 368px;
}
.scene0{
    padding: 70px 25px 0;
    background-image: url(../images/games/games_place.png);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
}
.scene0 .scene-item{
    width: 190px;
    height: 100px;
    list-style-type: none;
    margin: 10px;
    cursor: pointer;
    transition: all 0.25s;
}
.scene .scene-item:hover{
    transform: scale(1.1);
    transition: all 0.25s;
}

.scene-item-0-1{
    background-image: url(../images/games/restaurant.png);
    grid-column-start: 2;
}
.scene-item-0-2{
    background-image: url(../images/games/kitchen.png);
}
.scene-item-0-3{
    background-image: url(../images/games/livingroom.png);
}
.scene-item-0-4{
    background-image: url(../images/games/bathroom.png);
}
.scene-item-0-5{
    background-image: url(../images/games/bedroom.png);
}

/* scene1 */
.scene1{
    background-image: url(../images/games/restaurant.png);
}
.left{
    height: 368px;
    padding-top: 10px;
}
.answer{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.answer-item{
    width: 58px;
    height: 57px;
}
.intro-text{
    width: 188px;
    height: 122px;
    background-image: url(../images/games/games_hint.svg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-item-1-1{
    background-image: url(../images/games/ic_towel.png);
}
.answer-item-1-2{
    background-image: url(../images/games/ic_pot.png);
}
.answer-item-1-3{
    background-image: url(../images/games/ic_bottle.png);
}

.scene-1up .scene-item{
    position: absolute;
    cursor: pointer;
}


.scene-1up .scene-item{
    list-style-type: none;
    cursor: pointer;
    transition: all 0.25s;
    position: absolute;
}
.scene-item-1-1{
    background-image: url(../images/games/img_red_bg.png);
    width: 218px;
    height: 29px;
    left: 31.25%;
    bottom: 30%;
}
.scene-item-1-2{
    background-image: url(../images/games/img_pot.png);
    width: 33px;
    height: 41px;
    left: 57%;
    bottom: 37.7%;
}
.scene-item-1-3
{
    width: 26px;
    height: 47px;
    background-image: url(../images/games/img_bottle.png);
    left: 21.5%;
    top: 22%;
}

/* scene2 */
.scene2{
    background-image: url(../images/games/kitchen.png);
}
.answer-item-2-1{
    background-image: url(../images/games/ic_paint.png);
}
.answer-item-2-2{
    background-image: url(../images/games/ic_faucet.png);
}
.answer-item-2-3{
    background-image: url(../images/games/ic_milkbox.png);
}


.scene-item-2-1{
    background-image: url(../images/games/img_brick.png);
    width: 125px;
    height: 55px;
    left: 46.5%;
    top: 19%;
}
.scene-item-2-2{
    background-image: url(../images/games/img_faucet.png);
    width: 56px;
    height: 70px;
    left: 28%;
    top: 27%;
}
.scene-item-2-3
{
    width: 72px;
    height: 28px;
    background-image: url(../images/games/img_cups.png);
    left: 50%;
    top: 61.25%;
}


/* scene3 */
.scene3{
    background-image: url(../images/games/livingroom_0.png);
}
.answer-item-3-1{
    background-image: url(../images/games/ic_raincoat.png);
}
.answer-item-3-2{
    background-image: url(../images/games/ic_car.png);
}
.answer-item-3-3{
    background-image: url(../images/games/ic_tube.png);
}


.scene-item-3-1{
    background-image: url(../images/games/img_raincoat.png);
    width: 90px;
    height: 104px;
    right: 5%;
    bottom: 12%;
}
.scene-item-3-2{
    background-image: url(../images/games/img_red_car.png);
    width: 39px;
    height: 20px;
    left: 60%;
    bottom: 25%;
}
.scene-item-3-3
{
    width: 51px;
    height: 26px;
    background-image: url(../images/games/img_texi.png);
    left: 54%;
    top: 34.75%;
}
.scene-item-3-4
{
    width: 113px;
    height: 9px;
    background-image: url(../images/games/img_tube.png);
    left: 44.7%;
    top: 7%;
}


/* scene4 */
.scene4{
    background-image: url(../images/games/bathroom.png);
}
.answer-item-4-1{
    background-image: url(../images/games/ic_duck.png);
}
.answer-item-4-2{
    background-image: url(../images/games/ic_towel.png);
}
.answer-item-4-3{
    background-image: url(../images/games/ic_plasic.png);
}


.scene-item-4-1{
    background-image: url(../images/games/img_duck.png);
    width: 31px;
    height: 26px;
    right: 35%;
    top: 37%;
}
.scene-item-4-2{
    background-image: url(../images/games/img_book.png);
    width: 57px;
    height: 78px;
    right: 8.5%;
    top: 19.5%;
}
.scene-item-4-3
{
    width: 20px;
    height: 34px;
    background-image: url(../images/games/img_plasic_bottle.png);
    left: 16%;
    bottom: 17%;
}


/* scene5 */
.scene5{
    background-image: url(../images/games/bedroom_0.png);
}
.answer-item-5-1{
    background-image: url(../images/games/ic_bamboomat.png);
}
.answer-item-5-2{
    background-image: url(../images/games/ic_brick.png);
}
.answer-item-5-3{
    background-image: url(../images/games/ic_babywrap.png);
}


.scene-item-5-1{
    background-image: url(../images/games/img_bamboo_mat.png);
    width: 90px;
    height: 43px;
    left: 15%;
    top: 40%;
}
.scene-item-5-2{
    background-image: url(../images/games/img_find_hint.png);
    width: 103px;
    height: 48px;
    right: 28%;
    bottom: 27%;
}
.scene-item-5-3
{
    width: 66px;
    height: 54px;
    background-image: url(../images/games/img_baby_clothes.png);
    right: 25.5%;
    top: 6%;
}